
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f3f7fa;
}

header {
    background-color: #9ecdf2;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #d9ecff;
    padding: 1rem;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #2a75bb; 
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}



form button:hover {
    background-color: #0056b3; 
	
}


footer {
    background-color:#9ecdf2e;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
form{
	background-color: white;
	padding: 50px 55px;
	margin: 50px auto;
	box-shadow:  0 0 20px rgb(0,0,0,0.15);
	border-radius: 20px;
	text-align: center;
	width: 640px;
	
}


.input-group{
	display: flex;
	flex-direction: column;
	text-align: left;
}


label{
	color: #3d4f68;
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 10px;
}

input, textarea{
	padding: 17px ;
	border-radius: 25px;
	margin-bottom: 20px;
	background-color:#e9f3ff;
	border: 2px solid #c4defc;
	color:#333;
	outline: none;
	font-size: 14px;
}


input::placeholder,
textarea::placeholder{
	color: #7b98b6;

}

.btn{
	font-size: 16px;
	color: white;
	border: 0;
	border-radius: 25px;
	background-color: #5aa0f2;
	box-shadow: 0 0 20px rgba(90, 160, 242, 0.4);
	cursor: pointer;
    font-weight:bold;
    padding: 10px 40px;
}

.btn:hover{
	background-color: #3d7cd4;
}








